
.container.newsletter.mt-5.wow.fadeIn(data-wow-delay='0.1s')
  .row.justify-content-center
    .col-lg-10.border.rounded.p-1
      .border.rounded.text-center.p-1
        .bg-white.rounded.text-center.p-5
          h4.mb-4
            | Subscribe Our 
            span.text-primary.text-uppercase Newsletter
          .position-relative.mx-auto(style='max-width: 400px;')
            input.form-control.w-100.py-3.ps-4.pe-5(type='text' placeholder='Enter your email')
            button.btn.btn-primary.py-2.px-3.position-absolute.top-0.end-0.mt-2.me-2(type='button') Submit
//- Newsletter Start
//- Footer Start
.container-fluid.bg-dark.text-light.footer.wow.fadeIn(data-wow-delay='0.1s')
  .container.pb-5
    .row.g-5
      .col-md-6.col-lg-4
        .bg-primary.rounded.p-4
          a(href='index.html')
            h1.text-white.text-uppercase.mb-3 Hotelier
          p.text-white.mb-0
            | Download 
            a.text-dark.fw-medium(href='https://htmlcodex.com/hotel-html-template-pro') Hotelier – Premium Version
            | , build a professional website for your hotel business and grab the attention of new visitors upon your site’s launch.
      .col-md-6.col-lg-3
        h6.section-title.text-start.text-primary.text-uppercase.mb-4 Contact
        p.mb-2
          i.fa.fa-map-marker-alt.me-3
          | 123 Street, New York, USA
        p.mb-2
          i.fa.fa-phone-alt.me-3
          | +012 345 67890
        p.mb-2
          i.fa.fa-envelope.me-3
          | info@example.com
        .d-flex.pt-2
          a.btn.btn-outline-light.btn-social(href='')
            i.fab.fa-twitter
          a.btn.btn-outline-light.btn-social(href='')
            i.fab.fa-facebook-f
          a.btn.btn-outline-light.btn-social(href='')
            i.fab.fa-youtube
          a.btn.btn-outline-light.btn-social(href='')
            i.fab.fa-linkedin-in
      .col-lg-5.col-md-12
        .row.gy-5.g-4
          .col-md-6
            h6.section-title.text-start.text-primary.text-uppercase.mb-4 Company
            a.btn.btn-link(href='') About Us
            a.btn.btn-link(href='') Contact Us
            a.btn.btn-link(href='') Privacy Policy
            a.btn.btn-link(href='') Terms & Condition
            a.btn.btn-link(href='') Support
          .col-md-6
            h6.section-title.text-start.text-primary.text-uppercase.mb-4 Services
            a.btn.btn-link(href='') Food & Restaurant
            a.btn.btn-link(href='') Spa & Fitness
            a.btn.btn-link(href='') Sports & Gaming
            a.btn.btn-link(href='') Event & Party
            a.btn.btn-link(href='') GYM & Yoga
  .container
    .copyright
      .row
        .col-md-6.text-center.text-md-start.mb-3.mb-md-0
          | © 
          a.border-bottom(href='#') Your Site Name
          | , All Right Reserved.
          //- /*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/
          | Designed By 
          a.border-bottom(href='https://emreboyabat.com') Emre Boyabat
        .col-md-6.text-center.text-md-end
          .footer-menu
            a(href='') Home
            a(href='') Cookies
            a(href='') Help
            a(href='') FQAs
