extends layout
block content
    .container-xxl.bg-white.p-0     
    .container.page-header.mb-5.p-0(style='background-image: url(hotel/img/carousel-2.jpg);')
        .container-fluid.page-header-inner.py-5
          .container.text-center.pb-5
            h1.display-3.text-white.mb-3.animated.slideInDown Rooms
            nav(aria-label='breadcrumb')
              ol.breadcrumb.justify-content-center.text-uppercase
                li.breadcrumb-item
                  a(href='#') Home
                li.breadcrumb-item.text-white.active(aria-current='page') Rooms
    .container-xxl.py-5
        .container
          .text-center.wow.fadeInUp(data-wow-delay='0.1s')
            h6.section-title.text-center.text-primary.text-uppercase Our Rooms
            h1.mb-5
              | Explore Our 
              span.text-primary.text-uppercase Room
          .row.g-4
            each room in rooms
              .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
                .room-item.shadow.rounded.overflow-hidden
                  .position-relative
                    img.img-fluid(src='img/room-1.jpg' alt='')
                    small.position-absolute.start-0.top-100.translate-middle-y.bg-primary.text-white.rounded.py-1.px-3.ms-4 $100/Night
                  .p-4.mt-2
                    .d-flex.justify-content-between.mb-3
                      h5.mb-0 #{room.category}
                    .d-flex.mb-3
                      small.border-end.me-3.pe-3
                        i.fa.fa-bed.text-primary.me-2
                        | #{room.bed} Bedds
                      small.border-end.me-3.pe-3
                        i.fa.fa-bath.text-primary.me-2
                        | 2 Bath
                      small
                        i.fa.fa-wifi.text-primary.me-2
                        | Wifi
                    p.text-body.mb-3
                      | Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.
                    .col-md-12
                      a.btn.btn-sm.btn-primary.rounded.py-2.px-4.col-md-12(href='/book/' + room._id) Rezervasyon Yap