extends layout
block content
    .container-xxl.bg-white.p-0     
    .container.page-header.mb-5.p-0(style='background-image: url(hotel/img/carousel-2.jpg);')
        .container-fluid.page-header-inner.py-5
          .container.text-center.pb-5
            h1.display-3.text-white.mb-3.animated.slideInDown Rooms
            nav(aria-label='breadcrumb')
              ol.breadcrumb.justify-content-center.text-uppercase
                li.breadcrumb-item
                  a(href='#') Home
                li.breadcrumb-item
                  a(href='#') Pages
                li.breadcrumb-item.text-white.active(aria-current='page') Rooms
    .container-fluid.booking.pb-5.wow.fadeIn(data-wow-delay='0.1s')
        .container
          .bg-white.shadow(style='padding: 35px;')
            .row.g-2
              .col-md-10
                .row.g-2
                  .col-md-3
                    #date1.date(data-target-input='nearest')
                      input.form-control.datetimepicker-input(type='text' placeholder='Check in' data-target='#date1' data-toggle='datetimepicker')
                  .col-md-3
                    #date2.date(data-target-input='nearest')
                      input.form-control.datetimepicker-input(type='text' placeholder='Check out' data-target='#date2' data-toggle='datetimepicker')
                  .col-md-3
                    select.form-select
                      option(selected='') Adult
                      option(value='1') Adult 1
                      option(value='2') Adult 2
                      option(value='3') Adult 3
                  .col-md-3
                    select.form-select
                      option(selected='') Child
                      option(value='1') Child 1
                      option(value='2') Child 2
                      option(value='3') Child 3
              .col-md-2
                button.btn.btn-primary.w-100 Submit
    .container-xxl.py-5
        .container
          .text-center.wow.fadeInUp(data-wow-delay='0.1s')
            h6.section-title.text-center.text-primary.text-uppercase Our Rooms
            h1.mb-5
              | Explore Our 
              span.text-primary.text-uppercase Room
          .row.g-4
            each room in rooms
              .col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
                .room-item.shadow.rounded.overflow-hidden
                  .position-relative
                    img.img-fluid(src='img/room-1.jpg' alt='')
                    small.position-absolute.start-0.top-100.translate-middle-y.bg-primary.text-white.rounded.py-1.px-3.ms-4 $100/Night
                  .p-4.mt-2
                    .d-flex.justify-content-between.mb-3
                      h5.mb-0 #{room.category}
                      .ps-2
                        small.fa.fa-star.text-primary
                        small.fa.fa-star.text-primary
                        small.fa.fa-star.text-primary
                        small.fa.fa-star.text-primary
                        small.fa.fa-star.text-primary
                    .d-flex.mb-3
                      small.border-end.me-3.pe-3
                        i.fa.fa-bed.text-primary.me-2
                        | #{room.bed} Bedds
                      small.border-end.me-3.pe-3
                        i.fa.fa-bath.text-primary.me-2
                        | 2 Bath
                      small
                        i.fa.fa-wifi.text-primary.me-2
                        | Wifi
                    p.text-body.mb-3
                      | Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.
                    .d-flex.justify-content-between
                      a.btn.btn-sm.btn-primary.rounded.py-2.px-4(href='') View Detail
                      a.btn.btn-sm.btn-dark.rounded.py-2.px-4(href='') Book Now

    .container-xxl.testimonial.mt-5.py-5.bg-dark.wow.zoomIn(data-wow-delay='0.1s' style='margin-bottom: 90px;')
        .container
          .owl-carousel.testimonial-carousel.py-5
            .testimonial-item.position-relative.bg-white.rounded.overflow-hidden
              p
                | Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd et erat magna eos
              .d-flex.align-items-center
                img.img-fluid.flex-shrink-0.rounded(src='img/testimonial-1.jpg' style='width: 45px; height: 45px;')
                .ps-3
                  h6.fw-bold.mb-1 Client Name
                  small Profession
              i.fa.fa-quote-right.fa-3x.text-primary.position-absolute.end-0.bottom-0.me-4.mb-n1
            .testimonial-item.position-relative.bg-white.rounded.overflow-hidden
              p
                | Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd et erat magna eos
              .d-flex.align-items-center
                img.img-fluid.flex-shrink-0.rounded(src='img/testimonial-2.jpg' style='width: 45px; height: 45px;')
                .ps-3
                  h6.fw-bold.mb-1 Client Name
                  small Profession
              i.fa.fa-quote-right.fa-3x.text-primary.position-absolute.end-0.bottom-0.me-4.mb-n1
            .testimonial-item.position-relative.bg-white.rounded.overflow-hidden
              p
                | Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd et erat magna eos
              .d-flex.align-items-center
                img.img-fluid.flex-shrink-0.rounded(src='img/testimonial-3.jpg' style='width: 45px; height: 45px;')
                .ps-3
                  h6.fw-bold.mb-1 Client Name
                  small Profession
              i.fa.fa-quote-right.fa-3x.text-primary.position-absolute.end-0.bottom-0.me-4.mb-n1